<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword"  content="<%= config.keyword %>">
    <link rel="shortcut icon" href="<%= config.root %>images/favicon.ico">
    <title>
        <% if (page.title) { %>
          <%= page.title + ' - ' + config.SEOTitle %>
        <% } else{%>
          <%= config.SEOTitle %>
        <% } %>
    </title>
    <link rel="canonical" href="<%= config.url + config.root + (page.path||'').replace('index.html', '') %>">
    <!-- Bootstrap Core CSS -->
    <%- css('css/bootstrap.min.css') %>
    <!-- Custom CSS -->
    <%- css('css/hux-blog.min.css') %>
    <!-- Pygments Highlight CSS -->
    <%- css('css/highlight') %>
    <!-- Custom Fonts -->
    <link href="https://cdn.staticfile.org/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- 百度统计 -->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?8c8651dcc5d6f6ec8a2fc0212acf33a7";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
      </script>      
</head>
